@charset "utf-8";
/* CSS Document */

#container{
	width: 1024px;
	}
	
.hovergallery img{
	-webkit-transform:scale(0.8); /*Webkit: Scale down image to 0.8x original size*/
	-moz-transform:scale(0.8); 		/*Mozilla scale version*/
	-o-transform:scale(0.8); 		/*Opera scale version*/
	-webkit-transition-duration: 0.8s; 	/*Webkit: Animation duration*/
	-moz-transition-duration: 0.8s; 	/*Mozilla duration version*/
	-o-transition-duration: 0.8s; 	/*Opera duration version*/
	opacity: 0.7; 				/*initial opacity of images*/
	margin: 0 10px 5px 0; 			/*margin between images*/
}

.hovergallery img:hover{
	-webkit-transform:scale(1.1); 	/*Webkit: Scale up image to 1.2x original size*/
	-moz-transform:scale(1.1); 		/*Mozilla scale version*/
	-o-transform:scale(1.1); 		/*Opera scale version*/
	box-shadow:0px 0px 30px gray; /*CSS3 shadow: 30px blurred shadow all around image*/
	-webkit-box-shadow:0px 0px 30px gray; /*Safari shadow version*/
	-moz-box-shadow:0px 0px 30px gray; 	/*Mozilla shadow version*/
	opacity: 1;
}
h2{
	font-family: calibri, arial, helvetica, sans-serif;
	text-align: center;
	}
#container{
	width: 1024px;
	}
.hovergallery ul{
	margin: 0;
	padding: 0;
	list-style-type: none;
	text-align: center;
	}
.hovergallery ul li {
	display: inline; 
	}
