* { padding: 0; margin: 0 } 
img { border: none; }

html {
    width: 100%;
}

header {
    height: 70px;
    background-color: white;
    font-family: sans-serif;
    padding-left: 18%;
    margin-right: 18%;
    display:flex;
    align-items: center;
}

nav {
    position:relative;
    background-color: darkcyan;
    border-radius: inherit;
    text-align:center;
}

nav ul {
    list-style-type:armenian;
}

nav li {
    display:inline-table;
    font-size:large;
}

nav a {
    text-decoration:none;
    /*padding-right:30px;*/
}

#main-content {
    height: 400px;
    background-image: url("images/car-mountain.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    padding-left: 18%;
    padding-right: 18%;
    display:flex;
    align-items: center;
    justify-content: center;
}

#login-content {
   
float: right;
height: 150px;
width: 150px; 
}

#main-text {
    height: 200px;
    padding-left: 18%;
    padding-right: 18%;
}

#footer {
    height: 100px;
    padding-left: 18%;
    padding-right: 18%;
    background-color: grey;
}

h1 > a {
    font-family: sans-serif;
    color: grey;
    text-decoration: none;
}

h2 {
    font-family: sans-serif;
}

#left-content{
    display: inline-table;
    float: left;
    width: 65%;
}

#right-content{
    display: inline-table;
    float: right;
    width: 100px;
}



button[name="buttonLogin"] {
   align:100px;
}

/************
VIEW MY RIDES
************/

#Central{
    padding-top: 15px;
    width: 1024px;
    margin: 0px auto;
}

#CreateRideForm{
    width: 320px;
    margin: 0px auto;
}

#CreateRideFormHeader{
    padding: 5px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background-color: #bbbbbb;
    text-align: center;
}

#CreateRideSubmit{
    width: 300px;
    margin-top: 40px;
}
#CreateRideSubmit > button{
    width: 320px;
}


#CreateRideStart {
    margin-top: 10px;
    width: 300px;
}

#CreateRideStart > input{
    padding: 10px;
    width: 300px;
}


#CreateRideEnd {
    margin-top: 10px;
    width: 300px;
}

#CreateRideEnd > input{
    width: 300px;
    padding: 10px;
}